
# --- For-Bot-Working --------- #
TgCrypto 
pyromod==1.5
pyrogram==2.1.33
# --- For-Database ------------ #
pymongo 
dnspython 
motor  # Async driver for MongoDB

# --- For-Web-Response ------- #
aiohttp 
python-dotenv
# --- Advance-Format --- #
pyrofork==2.3.52
pytz
requests
bs4
shortzy
aiofiles
asyncio