# --- For-Bot-Working --------- #
https://codeload.github.com/KurimuzonAkuma/pyrogram/zip/refs/heads/dev
pyrofork==2.3.38
TgCrypto 
pyromod==1.5
# --- For-Database ------------ #
pymongo 
dnspython 
motor  # Async driver for MongoDB

# --- For-Web-Response ------- #
aiohttp 
python-dotenv
# --- Advance-Format --- #
pyrofork
pytz
requests
bs4
shortzy
aiofiles
asyncio